.b-photo{
    width:10vw;
    border-radius: 60%;
    margin-left:45vw;
}
.b-text{
    background-color: black;
    color:aqua;
}
.GGGGG{
    margin-left:100px ;

}
.HHHHH{
    margin-left:5vw ;
}
